@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 100%;
  height: 100vh;
  background: url(img/bg.jpg);
  opacity: 10;
  background-size: cover;

}

.container1 {
  width: 100%;
  height: 100%;
  background: #a6a6b4;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.container2 {
  width: 100%;
  height: 100%;
  background: #a6a6b4;
  /* background-size: cover; */
  background-attachment: fixed;



}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(50, 59, 66);
}

nav ul {
  margin-right: 40px;

}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;

}

ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: aliceblue;
  font-size: 1vw;
}

ul li a:hover {
  background-color: rgb(65, 101, 133);
  color: black;
  border-radius: 10px;
  transition: all 1s ease;

}

.navbar h1 {
  padding: 25px 50px;
  color: #fff;
  text-shadow: 1px 4px 2px rgba(40, 134, 76, 0.66);
}

.navbar h1 span {
  color: rgb(150, 13, 13);

}


.contant1 {
  justify-content: center;
  /* align-items: center; */
  max-width: 100%;
  height: 100%;
  /* margin-top: 50px; */
  /* margin-left: 5%; */
  /* border: 2px solid red;
    */
}

.contant1 h1 {
  color: #e40404;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;


}

.contant1 h3 {
  color: #362d2d;
  font-size: 18px;
  font-weight: 100;
  padding: 30px;


}

.contant1 p {
  color: #5e4c4c;
  font-size: 28px;
  font-weight: 100;
  padding: 30px;


}

.contant1 h2 {
  color: #492828;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

}

.contant1 h4 {
  color: #020101;
  font-size: 20px;
  padding: 30px;
  font-weight: 100;

}

.contant1 span {
  color: rgb(99, 9, 9);
  font-size: 20px;
  font-weight: 800;

}

.gallery {
  margin-top: 50px;
  margin-left: 230px;
  margin-right: 20px;
  width: 80%;
  height: auto;
}

.gallery img {
  margin: 20px;
  /* border: 2px solid red; */
  padding: 5px;
  width: 16%;
  height: 250px;
  cursor: pointer;
  transition: all 0.7s ease;

}

.gallery img:hover {
  scale: 1.2;
  box-shadow: 2px 2px 2px;
}

/* contact us */

.contactUs {
  background: #a6a6b4;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container4 {
  max-width: 1100px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container4 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container4 .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}


.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container4 .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}

.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #5029bc;
  transition: all 0.7s ease;
  scale: 1.7;
}

.right-side .button input[type="reset"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="reset"]:hover {
  background: #5029bc;
  transition: all 0.7s ease;
  scale: 1.7;
}


.services {
  width: 90%;
  height: 84vh;
  /* border: 1px solid red; */
  margin: 0px 92px;
}

.services h1 {
  text-align: center;
  padding-top: 20px;
}

.services hr {
  width: 200px;
  height: 5px;
  background-color: #492828;
  text-align: center;
  margin-left: 41.7%;
}


.tras {
  text-align: center;
  font-size: 32px;
  color: #af0000;

}

.course h3 {
  font-size: 32px;
  text-align: center;

}

table {
  width: 90%;
  height: 365px;
  margin-top: 20px;
  margin-left: 65px;
  margin-right: 50px;
}

th {
  color: #af0000;
  font-size: 20px;
  border-collapse: collapse;
  border: 1px solid black;
}

table,
tr,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 500;
}


@media (max-width: 1430px) {
  .gallery img {
    margin: 20px;
    /* border: 2px solid red; */
    padding: 5px;
    width: 27%;
    height: 250px;
    cursor: pointer;
    transition: all 0.7s ease;

  }

  .container1 h3 {
    font-size: 20px;
  }

  .container1 h4 .email {
    font-size: 20px;
    color: blue;
  }

}

@media (max-width: 930px) {
  .container1 {
    width: 100%;
    height: 100%;
    background: #a6a6b4;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


  }

  .container1 h3 {
    font-size: 30px;
  }

  .container1 h3 span {
    font-size: 30px;
  }

  .container1 h4 {
    font-size: 30px;
  }

  .container1 h4 span {
    font-size: 32px;
  }

  .container1 h4 .email {
    font-size: 28px;
    color: blue;
  }

  .container1 .copy {
    text-align: center;
    color: black;
    font-size: 28px;
    padding: 10px;
  }


  .gallery img {
    margin: 27px;
    /* border: 2px solid red; */
    padding: 5px;
    width: 41%;
    height: 200px;
    cursor: pointer;
    transition: all 0.7s ease;

  }

  .gallery {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 20px;
    width: 100%;
    height: auto;
  }



}

@media (max-width: 640px) {
  .container1{
    width: 480px;
  }
  .gallery {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    height: auto;
  }
  
  .gallery img {
    margin: 15px;
    /* border: 2px solid red; */
    padding: 5px;
    width: 100%;
    height: 280px;
    cursor: pointer;
    transition: all 0.7s ease;
    
  }
  .course{
    width: 450px;
    margin: 0;
  }
  .course h3{
    padding-right: 30px;
  }
  .tras{
     padding-right: 20px;
  }
  .ower{
    width: 350px;
    height: 100%;
    margin-right: 20px;
  }
  
  table{
    width: 100%;
    height: 100%;
    margin-right: 30px
    
    
  }
  
  tr{
    margin: 0 auto;
  }
  th{
    display: none;
  }
   
  /* table, */
  
  td {
    display: block;
    
    
  }
  .content .left-side .details .topic {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
  }
  
  .content .left-side .details .text-one{
    font-size: 25px;
    color: #787580;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .content .left-side .details .text-two{
    font-size: 25px;
    color: #787580;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  
  .content .left-side .details .ni{
    font-size: 25px;
    color: #787580;
    margin-top: 30px;
    margin-left: 130px;
    margin-bottom: 10px;
  }
  .content .left-side .details .ni2{
    font-size: 25px;
    color: #787580;
    /* margin-top: 50px; */
    margin-left: 150px;
    margin-bottom: 10px;
  }
  .content .right-side .topic-text {
    font-size: 27px;
    font-weight: 600;
    color: #3e2093;
  }
  .content .right-side p {
    font-size: 25px;
    font-weight: 600;
    color: #3e2093;
  }
  
}